.send-messages {
  padding: 20px;
  width: 100%;
  background-color: rgb(237, 237, 237);
  border: 1px solid rgb(208, 208, 208);
  position: relative;
  &__type {
    position: relative;
    display: flex;
    align-self: center;
    input {
      margin: auto;
      padding: 2px 40px 2px 15px;
      width: 90%;
      height: 40px;
      border: none;
      border-radius: 30px;
      border: 2px solid rgb(208, 208, 208);
      outline: none;
    }
    &__btn {
      position: absolute;
      display: flex;
      align-items: center;
      border: none;
      right: 60px;
      top: 6px;
      font-size: 25px; 
      background-color:#fff; 
    }
  }  
}

.icon {
  &_on {
    background-color: #fff;
    transition: all 0.8s; 
  }
  &_off {
    background-color: #fff;
    color:#0d435c;
    transition: all 0.8s; 
  }
  
}

@media (max-width: 1024px) {
  .send-messages {
    padding: 10px;
  }
}

@media (max-width: 768px) {
 
}

