.search{
    position: relative;
    padding: 20px;
    width: 100%;
    height: 100%;
    background-color: rgb(237, 237, 237);
    border: 1px solid rgb(208, 208, 208);
    &__icon {
        position: absolute;
        left: 15px;
        top: 7px;
        font-size: 25px;
        color: rgb(180, 180, 180);
    }
    &__chat {
        position:absolute;
        width: 90%;
        bottom: 20px;
        input {
            padding: 2px 15px 2px 50px;
            width: 100%;
            height: 40px;
            border: none;
            border-radius: 30px;
            border: 2px solid rgb(208, 208, 208);
            outline: none;
        }
    }
}

@media (max-width: 1024px) {
    .search {
        padding: 15px;
    }
  }