.wrapper {
  position: relative;
}

.avatar {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 1px solid rgb(208, 208, 208);
}

.status {
  position: absolute;
  bottom: 0;;
  right: 0;
  &_afkStatus {
    color: red
  }
  &_onlineStatus {
    color: green;
  }
}




