.messages {
  padding: 20px;
  width: 100%;
  background-color: rgb(249, 249, 249);
  border: 1px solid rgb(208, 208, 208);
  &__wrapper {
    &_friend {
      display: flex;
      gap: 10px;
    }
    &_your{
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }
  }
  &__friend {
    margin-right: 150px;
    padding: 10px;
  }
  &__your {
    margin-left: 150px;
    padding: 10px;
  }
  &__data {
    display: block;
    font-size: 12px;
    margin-bottom: 20px;
    color: rgba($color: #000000, $alpha: 0.7);
    &_friend {
      display: block;
      justify-content: start;
      margin-left: 100px;
      top: 170px;
    }
    &_your {
      display: flex;
      justify-content: flex-end;
      margin-right: 40px;
    }
  }
}

.text {
  padding: 20px;
  min-height: 50px;
  border-radius: 30px;
  &_friend {
    background-color: rgba($color: #0d435c, $alpha: 0.8);
    color: white;
    font-size: 14px;
  }
  &_your {
    background-color: #fff;
    border: 1px solid rgb(208, 208, 208);
  }
}
