.user {
  position: relative;
  padding: 5px;
  margin-bottom: 20px;
  width: 100%;
  max-height: 100px;
  display: grid;
  grid-template-columns: 20% 50% 20%;
  grid-template-rows: 20% 75% 5%;
  gap: 10px;
  &__avatar {
    grid-row: 1/3;
    grid-column: 1 / 2;
    margin: auto;
  }
  &__name {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
  }
  &__devider {
    width: 100%;
    height: 2px;
    background-color: rgb(208, 208, 208);
    grid-row: 3/4;
    grid-column: 1 / 4;
  }
}



.message {
  font-size: 14px;
  color: rgba($color: #000000, $alpha: 0.7);
  &_no {
    top: 35px;
    left: 110px;
    position: absolute;
    font-weight: 600;
    color: rgba(255, 60, 0, 0.822);
  }
}
